{% extends "base.html" %}
{% block content %}
<style>
    #img {
    width:300px;
    height:350px;
    float: left;

    border: 0;
    margin: 0px 0px 15px 20px;}
ul.b {
    list-style-type: square;
    margin-right:270px;font-size:20px;
    margin-left:340px;
}
#modify{margin-top:-25px;}
p{margin-left:340px;font-size:20px;}
.h{font-size:25px;margin-top:5px;}
.col-md-9{ margin-top:120px;margin-left:170px;z-index: -1; }
#thumbnail{border: 1px solid OrangeRed;  }
@media screen and (min-width: 2000px) {
    .thumbnail{
        background-color: lightgreen;
    }
}

</style>
<div class="col-md-9 col-md-offset-1" >


        <div class="col-md-12" >

         <div class="jumbotron" >
             <div      class="thumbnail" id="thumbnail">

  <p style="margin-right:10px; margin-left:10px;">Tires have been a vehicle's most important safety feature for more than a century. After all,
      they are a vehicle's only contact with the road. Even the brawniest engine, strongest brakes, and most advanced anti-skid system are at the mercy of the tire's grip on the road.</p>
             <p style="margin-right:10px; margin-left:10px;"> Every move a driver makes with the steering wheel, brake or gas pedal is transmitted to the road through the four notepad-sized contact patches of the tires.

So, if a consumer has tires that are worn, under-inflated, or not suited to the environment, they put themselves, their vehicle, and others at risk.<br>

If you're looking to save money, get the best fuel economy,
    or buy the best quality tire then this article is for you.

<br><strong>Not all tires are created equal! Here is the list of recommended one.</strong> </p>
         </div>



    </div></div>

        <div class="col-md-12" id="modify">

          <div      class="thumbnail" >
<div class="row">
<div class="col-md-12" ><br>
         <center><a href="" class="h">Goodyear Wrangler Radial Tire </a></center><hr>

            <img src="../../static/image/good_wr.png" class="img-thumbnail" alt="Cinque Terre" id="img" >
            <p style="margin-left:340px;">
                Goodyears tire provides all season high performance traction for sedans and sports coupes.
                It features an asymmetrical construction which enhances its handling, traction,
                and improves the comfort of your ride in straight driving. It is made with wide lateral grooves and aggressive shoulder tread blocks to provide you with better handling and reliable traction in all weather including dry,
                wet and snow conditions. This tire will give you a good all year round performance. Goodyear Eagle RS-A Radial Tire details:
            </p>
    <ul class="b" >
       <li>Size: P235/75R15 105S</li>
        <li>Section width of 235 millimeters</li>
        <li>Aspect ratio of 75</li>
        <li>Rim diameter of 15 inches</li>
        <li>Speed Rating of S</li>
        <li>
The tire weighs 27.6 pounds </li>
    </ul>
            <p style="margin-left:340px;">
                Radial tires are fitted with steel belts to offer stiffness on the road.
                They have thick shoulders and flexible side walls that protect the interior from damage and shock,
                enabling you to enjoy a smooth comfortable ride. These tires are made with bead wires which hold the tire to the rim,
                and provide the tires with more durability and better maneuverability. These tires feature a chaffer that protects the ply cord from
                the heat generated by the rubbing of the rim flange and the bead. Radial tires are constructed to
                offer longer life and better maneuverability.</p>

    <center><a href=""><img src="../../static/image/amazon.jpg" class="img-thumbnail" alt="Cinque Terre" width="200" height="80"></a>
    </center>

    </div>
        </div>

                </div>
    </div>

        <div class="col-md-12" >

          <div      class="thumbnail" >
<div class="row">
<div class="col-md-12" ><br>
           <center><a href="" class="h">Hankook DynaPro ATM </a></center> <hr>

            <img src="../../static/image/ATM.jpg" class="img-thumbnail" alt="Cinque Terre" id="img" >
            <p style="margin-left:10px;margin-right:10px;">
                Wraparound tread gives a rugged look and increases puncture resistance
Deep two-step sipes extend tread life and increase performance on wet roads
Tiered side grooves for more predictable cornering
7-8% wider footprint than the competition for increased road contact and grip
            </p>
    <ul class="b" >
         <li>Product Dimensions	31.7 x 31.7 x 10.5 inches</li>
        <li>Section width of 265 millimeters</li>
        <li>Aspect ratio of 75</li>
        <li>Rim diameter of 16 inches</li>
        <li>Speed Rating of T</li>
        <li>
The tire weighs 39.8 pounds and has a maximum load capacity of 1718 pounds.</li>
    </ul>
 <center><a href=""><img src="../../static/image/amazon.jpg" class="img-thumbnail" alt="Cinque Terre" width="200" height="80"></a>

    </div>
        </div>

                </div>
    </div>
    <div class="col-md-12" >

          <div      class="thumbnail" >
<div class="row">
<div class="col-md-12" ><br>
           <center><a href="" class="h">Michelin Defender All-Season Radial </a></center> <hr>

            <img src="../../static/image/michelin.jpg" class="img-thumbnail" alt="Cinque Terre" id="img" >
            <p style="margin-left:10px;margin-right:10px;">The MICHELIN DEFENDER is Michelin’s best standard passenger car tire
Exceptionally long-lasting all-season tire
Outstanding grip for short braking and peace of mind in stressful driving situations
Quiet, comfortable ride
Rolls super-smoothly to save money on fuel</p>
    <ul class="b" >
        <li>Product Dimensions	29 x 29 x 9 inches</li>
        <li>Section width of 225 millimeters</li>
        <li>Aspect ratio of 65</li>
        <li>Rim diameter of 17 inches</li>
        <li>Speed Rating of T</li>
        <li>
The tire weighs 25.8 pounds and has a maximum load capacity of 1718 pounds.</li>
    </ul>
 <center><a href=""><img src="../../static/image/amazon.jpg" class="img-thumbnail" alt="Cinque Terre" width="200" height="80"></a>

    </div>
        </div>

                </div>
    </div>
    <div class="col-md-12" >

          <div      class="thumbnail" >
<div class="row">
<div class="col-md-12" ><br>
           <center><a href="" class="h">Sumic GT-A All-Season Radial Tire - 195/65R15 91H</a></center> <hr>

            <img src="../../static/image/sumic.jpg" class="img-thumbnail" alt="Cinque Terre" id="img" >
            <p style="margin-left:10px;margin-right:10px;">
The symmetrical 4-Rib pattern provides superior ride and stability
Advanced tread compound enhances water performance
Circumferential center channel and extended lateral grooves provide superior water evacuation
Tread block sipping enhances ride comfort and reduces noise
High rigidity construction supports high speed handling
            </p>
    <ul class="b" >
        <li>Size: P245/65R17 105S</li>
        <li>Section width of 245 millimeters</li>
        <li>Aspect ratio of 65</li>
        <li>Rim Diameter  of	17 inches</li>
        <li>Speed Rating: S (112 MPH)</li>
        <li>
The tire weight 32.6 pounds and has a maximum load capacity of 1718 pounds.</li>
    </ul>
 <center><a href=""><img src="../../static/image/amazon.jpg" class="img-thumbnail" alt="Cinque Terre" width="200" height="80"></a>

    </div>
        </div>

                </div>
    </div>
    <div class="col-md-12" >

          <div      class="thumbnail" >
<div class="row">
<div class="col-md-12" ><br>
           <center><a href="" class="h">Goodyear Fortera HL Radial Tire - 245/65R17 105S</a></center> <hr>

            <img src="../../static/image/Goodyear Fortera.jpg" class="img-thumbnail" alt="Cinque Terre" id="img" >
            <p style="margin-left:10px;margin-right:10px;">


            </p>
    <ul class="b" >
        <li>Size: P245/65R17 105S</li>
        <li>Section width of 245 millimeters</li>
        <li>Aspect ratio of 65</li>
        <li>Rim Diameter  of	17 inches</li>
        <li>Speed Rating: S (112 MPH)</li>
        <li>
The tire weight 32.6 pounds and has a maximum load capacity of 1718 pounds.</li>
    </ul>
 <center><a href=""><img src="../../static/image/amazon.jpg" class="img-thumbnail" alt="Cinque Terre" width="200" height="80"></a>

    </div>
        </div>

                </div>
    </div>
    <div class="col-md-12" >

          <div      class="thumbnail" >
<div class="row">
<div class="col-md-12" ><br>
           <center><a href="" class="h">Continental PureContact Radial Tire - 215/55R17 94V</a></center> <hr>

            <img src="../../static/image/continental.jpg" class="img-thumbnail" alt="Cinque Terre" id="img" >
            <p style="margin-left:10px;margin-right:10px;">Featuring a silica-enhanced, all-season tread compound,
                the PureContact with EcoPlus Technology incorporates Continental's Tg-F Polymers and +Silane additives to improve treadwear,
                fuel efficiency and traction on slippery roads.
                The compound is molded into a computer-optimized asymmetric tread design that reduces pattern noise while chamfered tread
                block edges enhance dry-road handling. Independent tread blocks are siped to provide additional biting edges while Continental’s
                Traction Grooves (vertical ridges in the circumferential grooves) promote three-dimensional snow-to-snow traction.
PureContact with EcoPlus Technology’s tread pattern features Tuned Performance Indicators — visible letters molded into
                the outboard shoulder to alert drivers of the tire's potential performance in various weather conditions.
                A visible "DWS" indicates the tire has sufficient tread depth for dry conditions, as well as wet roads and light snow.
                After the "S" has worn away, the remaining "DW" indicates the tire only has sufficient tread depth for dry
                and most wet road conditions. And after the "W" and "S" have both worn away,
                the remaining "D" indicates the tire has appropriate tread depth for dry conditions only.
The tire's internal structure features twin steel belts reinforced with spirally wound jointless polyamide to blend high-speed durability
                with ride uniformity. Continental's ComfortRide Technology includes a cushioning layer of rubber
                to absorb vibrations caused by road surface irregularities. PureContact tires also feature weight-optimized
                construction to reduce weight and rolling resistance.</p>
    <ul class="b" >
        <li>Product Dimensions	26.3 x 26.3 x 8.5 inches</li>
        <li>Section width of 215 millimeters</li>
        <li>Aspect ratio of 55</li>
        <li>Rim Diameter  of	17 inches</li>
        <li>Speed Rating	V</li>
        <li>
The tire weight 20.7 pounds and has a maximum load capacity of 1718 pounds.</li>
    </ul>
  <center><a href=""><img src="../../static/image/amazon.jpg" class="img-thumbnail" alt="Cinque Terre" width="200" height="80"></a></center>

    </div>
        </div>

                </div>
    </div>
    <div class="col-md-12" >

          <div      class="thumbnail" >
<div class="row">
<div class="col-md-12" ><br>
           <center><a href="" class="h">Pirelli P ZERO High Performance Tire - 275/40R20 106Y</a></center> <hr>

            <img src="../../static/image/pireli.jpg" class="img-thumbnail" alt="Cinque Terre" id="img" >
            <p style="margin-left:10px;margin-right:10px;">
                High-performance summer tires for sporty coupes and sedans<br>
Reinforced shoulder blocks for cornering stability<br>
Asymmetric tread design for increased handling<br>
Three wide longitudinal grooves ensure high hydroplaning resistance<br>
S-shaped sipes are designed to reduce rolling noise
            </p>
    <ul class="b" >
        <li>Product Dimensions	28.7 x 28.7 x 10.9 inches</li>
        <li>Section width of 275 millimeters</li>
        <li>Aspect ratio of 40</li>
        <li>Rim diameter of 20 inches</li>
        <li>Speed Rating	Z</li>
        <li>
The tire weight 35.5 pounds and has a maximum load capacity of 1718 pounds.</li>
    </ul>
 <center><a href=""><img src="../../static/image/amazon.jpg" class="img-thumbnail" alt="Cinque Terre" width="200" height="80"></a>

    </div>
        </div>

                </div>
    </div>
    <div class="col-md-12" >

          <div      class="thumbnail" >
<div class="row">
<div class="col-md-12" ><br>
           <center><a href="" class="h">Goodyear Eagle RS-A Radial Tire - 205/55R16 89H </a></center> <hr>

            <img src="../../static/image/Goodyear Eagle RS-A Radial Tire.jpg" class="img-thumbnail" alt="Cinque Terre" id="img" >
            <p style="margin-left:10px;margin-right:10px;">
                All-season touring tire
Aggressive shoulder tread blocks for increased cornering grip
Asymmetric construction for enhanced handling and ride quality during straight driving
Wide lateral grooves for improved wet traction
Reliable traction in multiple driving conditions for year-round performance
            </p>
    <ul class="b" >
        <li>Tire size-205/55R16 89H</li>
        <li>Section width of 205mm</li>
        <li>Aspect ratio of 55</li>
        <li>Rim diameter of 16 inches</li>
        <li>
The tire weighs 20.2 pounds and has a maximum load capacity of 1718 pounds.</li>
    </ul>
 <center><a href=""><img src="../../static/image/amazon.jpg" class="img-thumbnail" alt="Cinque Terre" width="200" height="80"></a>

    </div>
        </div>

                </div>
    </div>
</div>





{% endblock content %}