{% extends "base.html" %}
{% block content %}
<style>

    img {
    float: left;

    border: 0;
    margin: 0px 0px 15px 20px;

}
</style>
<div class="col-md-9 col-md-offset-1" style="margin-top:160px;margin-left:170px;z-index: -1;">


        <div class="col-md-12" >

          <div      class="thumbnail" style="height:500px;">
<div class="row">
<div class="col-md-12" >
            <h3>wheels</h3>

            <img src="../../static/image/tire.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
            <p style="margin-left:10px;margin-right:10px;">best crIn the paragraph below, the image will float to the right. A dotted black border is added to the image. We have also added margins to the image to push the text away from the image: 0 px margin on the top and right side, 15 px margin on the bottom, and 20 px margin on the left side of the image.

This is some text. This is some text. T
                his is some text. This is some text. This is
                some text. This is some text. This is some text. This is some
                text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.
                This is some text. This is some text. This is some text. This is some text. This is some text</p>

            <center><img src="../../static/image/amazon.jpg" class="img-thumbnail" alt="Cinque Terre" width="200" height="80">
</center>

    </div>
        </div><hr>

                </div>
    </div>

        <div class="col-md-12" >

          <div      class="thumbnail" style="height:500px;">
<div class="row">
<div class="col-md-12" >
            <h3>Sumic GT-A All-Season Radial Tire - 195/65R15 91H</h3>

            <img src="../../static/image/tire.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
            <p style="margin-left:10px;margin-right:10px;">best crIn the paragraph below, the image will float to the right. A dotted black border is added to the image. We have also added margins to the image to push the text away from the image: 0 px margin on the top and right side, 15 px margin on the bottom, and 20 px margin on the left side of the image.

This is some text. This is some text. T
                his is some text. This is some text. This is
                some text. This is some text. This is some text. This is some
                text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.
                This is some text. This is some text. This is some text. This is some text. This is some text</p>

            <center><img src="../../static/image/amazon.jpg" class="img-thumbnail" alt="Cinque Terre" width="200" height="80">
</center>

    </div>
        </div><hr>

                </div>
    </div>

        <div class="col-md-12" >

          <div      class="thumbnail" style="height:500px;">
<div class="row">
<div class="col-md-12" >
            <h3>Sumic GT-A All-Season Radial Tire - 195/65R15 91H</h3>

            <img src="../../static/image/tire.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
            <p style="margin-left:10px;margin-right:10px;">best crIn the paragraph below, the image will float to the right. A dotted black border is added to the image. We have also added margins to the image to push the text away from the image: 0 px margin on the top and right side, 15 px margin on the bottom, and 20 px margin on the left side of the image.

This is some text. This is some text. T
                his is some text. This is some text. This is
                some text. This is some text. This is some text. This is some
                text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.
                This is some text. This is some text. This is some text. This is some text. This is some text</p>

            <center><img src="../../static/image/amazon.jpg" class="img-thumbnail" alt="Cinque Terre" width="200" height="80">
</center>

    </div>
        </div><hr>

                </div>
    </div>
</div>





{% endblock content %}